<style>
table, th, td {
  border:1px solid black;
}
td {
  text-align: center;
}
.tooltip-inner {
    min-width: 100px;
    max-width: 500px;
}

.annotation_schema {

}
</style>

<div class="row">
  <div class="col-md-12"> 
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.dropbox.com/scl/fi/992sb3d6gy7xr2pi1uag3/Article-Instructions.pdf?rlkey=8w7vdwdjqqtg2gy92sjmww61g&dl=0" target="_blank">Annotation Instructions |</a>
        <a href="https://www.dropbox.com/scl/fi/g8534lqevk5zkmwnxy4yo/Article-Codebook.pdf?rlkey=i0avolson64s8c1b8zmdqxkyw&dl=0" target="_blank">Annotation Codebook</a>

        <div class="annotation_schema">
          {{annotation_schematic}}
        </div>

        <div name="context_text" class="instance">
          <div name="instance_text">
            {{instance | safe}}
          </div>
        </div>
          
      </div>
    </div>


    <div style="height: 15px;"/>

  </div>
  <div class="col-md-12">

  </div>
</div>