<style>
table, th, td {
  border:1px solid black;
}
td {
  text-align: center;
}
.tooltip-inner {
    min-width: 100px;
    max-width: 500px;
}

span {
  background-color: yellow;
}

</style>

<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <a href="https://www.dropbox.com/scl/fi/lqdluyacpaksl4mbyjuk5/Quant-Codebook.pdf?rlkey=xy7h3ry9cd7su8kphzanwrjx0&dl=0" target="_blank">Annotation Codebook</a>


        <div name="context_text" class="instance">
          <div name="instance_text">
            {{instance | safe}}
          </div>
        </div>
          <div class="annotation_schema">
              {{annotation_schematic}}
          </div>
      </div>
    </div>


    <div style="height: 15px;"/>

  </div>
  <div class="col-md-12">

  </div>
</div>